.nav {
    width: 100%;
}


.nav .card {
    width: 220px;
    border: none;
    border-radius: 0;
    background-color: rgb(48, 65, 86);
    color: rgb(191, 203, 217);
}

.nav .card .card-header {
    height: 48px;
    line-height: 40px;
    border: none;
    background-color: rgb(48, 65, 86);
    padding: 4px 20px;
}

.nav .card .card-header h2 button {
    color: rgb(191, 203, 217);
}

.nav .card .card-body {
    border: none;
    border-radius: 0;
    padding: 0;
}

.nav .card .card-body .list-group-item {
    height: 48px;
    line-height: 40px;
    padding: 4px 20px;
    color: rgb(191, 203, 217);
    border: none;
    border-radius: 0;
    background-color: #1f2d3d !important;
}

.nav .card .card-body .list-group-item span {
    padding-left: 20px;
}

.nav .card .card-header:hover {
    background-color: #263445 !important;
}

.nav .card .card-body .list-group-item:hover {
    background-color: #001528 !important;
}

.nav-text {
    color: rgb(191, 203, 217);
}

.nav-text:hover {
    color: rgb(191, 203, 217);
}

.arrow {
        width: 6px;
    height: 6px;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    transform: rotate(-45deg);
    position: absolute;
    top: 21px;
    right: 20px;
}

.btn.btn-block.nav-text+.arrow {
    width: 6px;
    height: 6px;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    transform: rotate(-45deg);
    position: absolute;
    top: 21px;
    right: 20px;
}

.btn.btn-block.nav-text.collapsed+.arrow{
    transform: rotate(135deg);
}